.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  letter-spacing: 1px;
}

/* Navigation */

nav {
  background-color: darkcyan;
  font-size: 22px;
}

nav .nav-item {
  padding: 10px 30px;
}

.nav-link {
  color:white;
  transition: all 0.5s ease-in-out ;
}


.nav-link:hover, .nav-link:active, .nav-link:focus{
  color: white;
   opacity: 0.5;
}


/* Footer */
footer {
  background: darkcyan;
  padding-top: 20px;
}


/* Skills */